@font-face {
    font-family: "Jalnan2";
    src:  url("./fonts/Jalnan2.otf") format("opentype"),
          url("./fonts/Jalnan2TTF.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* 기본 초기화 */
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
}
html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 코드 폰트는 필요한 경우만 */
code {
  font-family: 'Menlo', 'Consolas', monospace;
}

p{
  margin: 0;
}
